.bg-image{
  position: relative;
    background: linear-gradient(rgba(8, 8, 8, 0.3), rgba(8, 8, 8, 0.3)),
        url("C:/Users/DELL/Downloads/recipe bg.jpg");
      min-height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h1-title{
  font-size: 70px;
    font-style: italic;
    margin-bottom: 20px;
    letter-spacing: 10px;
    color: white;
}
.search-box{
   padding-top: 130px !important;
  padding-bottom: 20px !important;
}
.search-h2{
  font-size: 25px;
  margin-bottom: 16px;
}
.detail-content{
  padding-top: 130px !important;
}